html, body {
    font-family: Verdana, sans-serif;
    overflow: hidden;
    margin: 0;
}

.header {
    overflow: hidden;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;

    color: white;
    background-color: rgb(0, 10, 40);
}

.header-title-frame {
    display: inline-flex;    
}

.header-title-frame h1 {
    font-size: 35px;
    padding: 0;
    margin: 20px;
    
}

.header-title-frame h3 {
    font-size: 15px;
    font-style: italic;
    color: mediumspringgreen;
}

.header-info-btns {
    display: inline;
    justify-content: space-between;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}

a:hover {
    background-color: mediumspringgreen;
    color: rgb(0, 10, 40);
}