.algo-selector-frame {
    background-color: rgb(200, 200, 200);
    padding: 10px;
    border-radius: 20px;
    margin: 15px;

    display: flex;
    justify-content: space-between;
}

.selector-btn-frame {
    display: inline;
    justify-content: space-between;
}

.algo-btn {
    color: black;
    background-color: rgb(250, 250, 250);

    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
}

.algo-btn:hover {
    background-color: mediumspringgreen;
    cursor: pointer;
}

.algo-btn:disabled {
    color: rgb(0, 0, 0, 0.3);
    background-color: rgb(250, 250, 250, 0.4);
}

.sort-btn {
    color: white;
    background-color: limegreen;

    font-size: 15px;
    font-weight: bold;
    padding: 10px 35px 10px 35px;
    border: none;
    border-radius: 10px;
}

.sort-btn:hover {
    background-color: lime;
    cursor: pointer;
}

.sort-btn:disabled {
    color: rgb(255, 255, 255, 0.3);
    background-color: rgb(0, 255, 0, 0.4);
}

.reset-btn {
    color: white;
    background-color: orange;

    font-size: 15px;
    font-weight: bold;
    padding: 10px 35px 10px 35px;
    border: none;
    border-radius: 10px;
}

.reset-btn:hover {
    color: black;
    background-color: yellow;
    cursor: pointer;
}